@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewData["Title"] = "Admin Login";
}
@model LoginViewModel
<div class="d-flex flex-column justify-content-center align-items-center bg-white rounded p-5 shadow-lg"
    style="width:fit-content">
    <div class="d-flex align-items-center">
        <a asp-controller="Home" asp-action="Index">
            <img src="~/images/library.svg" alt="library-icon" style="height: 40px;width:50px" >
        </a>
    </div>
    <h3>Admin Login</h3>
    <form class="d-flex flex-column justify-content-center align-items-center" method="post">
        <div  class="mb-2">
            <label asp-for="userId" class="form-label">Enter UserId</label>
            <input type="text" class="form-control" placeholder="User id" />
        </div>
        <div  class="mb-2">
            <label asp-for="password" class="form-label">Enter password</label>
            <input type="password" class="form-control" placeholder="Password">
        </div>
        <div class="mt-4">
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>