﻿
@{
    ViewData["Title"] = "Home Page";
}
<div class="d-flex flex-column justify-content-center align-items-center h-100">
    <h1>Welcome to library</h1>
    <img src="~/images/library.png" alt="libraryimage" class="homepage_image mt-4">
    <div class="mt-4 d-flex">
        <div class="me-4">
            <form asp-controller="auth" asp-action="adminlogin">
                <button class="btn btn-primary">
                    Login as Admin
                </button>
            </form>
        </div>
        <div>
            <form asp-controller="auth" asp-action="userlogin">
                <button class="btn btn-primary">
                    Login as User
                </button>
            </form>
        </div>
    </div>
        <a asp-controller="Auth" asp-action="Register" class="text-muted pt-2 text-center text-decoration-none">Don't have account? Register Here</a>
</div>
